/* Variables */

$font: 'Spartan', sans-serif;

$bg: hsl(180, 52%, 96%);
$cyan: hsl(179, 29%, 51%);
$tb-filter: hsl(180, 31%, 95%);
$d-g-cyan: hsl(180, 8%, 52%);
$vd-g-cyan: hsl(180, 14%, 20%);

/* General */
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background-color: $bg;
	font-family: $font;
	font-size: 0.9375rem; /* 15px */
	-webkit-font-smoothing: antialiased;
}

a,
a:focus {
	outline: none;
	text-decoration: none;
}

%box {
	background-color: white;
	border-radius: 0.3125rem; /* 5px */
	box-shadow: 0 0.625rem 2rem -0.625rem lighten($cyan, 20); /* 10px 32px -10px */
}

span {
	display: inline-flex;
}

.container {
	width: 80%;
}

/* Header */
.head {
	display: flex;
	width: 100%;
	height: 9.75rem; /* 156px */
	background: url('../images/bg-header-desktop.svg') top left no-repeat;
	background-size: cover;
	background-color: $cyan;
}

/* Content */
main {
	display: flex;
	justify-content: center;
}

/* Filter */
.filter {
	@extend %box;
	max-width: 64rem; /* 1024px */
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	bottom: 2.25rem; /* 36px */ /* 0 165px */
	padding: 1.25rem 2.5rem; /* 20px 40px */

	&-tags {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem; /* 16px */
	}

	&-clear {
		font-size: 0.8125rem; /* 13px */
		font-weight: 700;
		color: $d-g-cyan;
		transition: 100ms ease-in;

		&:hover,
		&:focus {
			color: $cyan;
			text-decoration: underline;
		}
	}
}

/* Jobs gallery */
.jobs {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10rem 0; /* 160px */
}

.filter-active {
	margin-top: 5.55rem; /* 88,8px */
}

.job {
	@extend %box;
	width: 100%;
	max-width: 64rem; /* 1024px */
	display: flex;
	align-items: center;
	padding: 2rem 2.5rem; /* 32px 40px */

	&-img {
		margin-right: 1.5rem; /* 24px */
	}

	&-content {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	&-main {
		display: flex;
		white-space: nowrap;
	}

	&-head {
		display: flex;
		align-items: center;
		margin-bottom: 0.75rem; /* 12px */

		h3 {
			color: $cyan;
			font-size: 0.875rem; /* 14px */
			font-weight: 700;
			margin-right: 1rem; /* 16px */
		}

		.pills {
			display: flex;

			& span:not(:last-child) {
				margin-right: 0.5rem; /* 8px */
			}
		}
	}

	&-position {
		display: inline-flex;
		color: $vd-g-cyan;
		font-size: 1.125rem; /* 18px */
		font-weight: 700;
		margin-bottom: 1rem; /* 16px */
		line-height: 1.5;

		&:hover,
		&:focus {
			color: $cyan;
		}
	}

	&-details {
		display: flex;

		p {
			color: $d-g-cyan;
			white-space: nowrap;
		}

		span {
			margin: 0 0.5rem; /* 8px */
		}
	}

	&-tags {
		display: flex;
		align-items: center;
		gap: 1rem; /* 16px */
	}

	&-featured {
		border-left: solid $cyan 0.3125rem; /* 5px */
	}

	&:not(:last-child) {
		margin-bottom: 1.5rem; /* 24px */
	}
}

/* Pills */
.pill {
	color: white;
	font-weight: 700;
	font-size: 0.625rem; /* 10px */
	padding: 0.5rem; /* 8px */
	padding-bottom: 0.375rem; /* 6px */
	border-radius: 500px;

	&-new {
		background-color: $cyan;
	}

	&-featured {
		background-color: $vd-g-cyan;
	}
}

/* Tags */
%tag {
	display: inline-flex;
	font-size: 0.8125rem; /* 13px */
	font-weight: 700;
	padding: 0.625rem 0.5rem 0.5rem 0.5rem; /* 10px 8px 8px 8px */
}

.tag {
	@extend %tag;
	color: $cyan;
	background-color: $bg;
	border-radius: 0.25rem; /* 4px */

	&-addon {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		margin: 0 !important;
	}

	&-remove {
		@extend %tag;
		align-items: center;
		padding: 0.5rem; /* 8px */
		background-color: $cyan;
		color: white;
		border-top-right-radius: 0.25rem; /* 4px */
		border-bottom-right-radius: 0.25rem; /* 4px */

		&:hover,
		&:focus {
			background-color: $vd-g-cyan;
		}

		img {
			width: 0.875rem; /* 14px */
			height: 0.875rem; /* 14px */
		}
	}
}

a.tag:hover,
a.tag:focus {
	background-color: $cyan;
	color: white;
}

@media (max-width: 1152px) {
	.filter,
	.job {
		max-width: 40rem; /* 640px */
	}

	.job {
		&-content {
			flex-direction: column;
		}

		&-main {
			padding-bottom: 2rem; /* 32px */
			border-bottom: 0.0625rem solid lighten($d-g-cyan, 25); /* 1px */
		}

		&-tags {
			margin-top: 1rem; /* 16px */
		}
	}
}

@media (max-width: 768px) {
	.job {
		&-img {
			width: 5rem; /* 80px */
			height: 5rem; /* 80px */
		}

		&-main {
			align-items: center;
		}

		&-tags {
			flex-wrap: wrap;
		}
	}
}

@media (max-width: 640px) {
	.head {
		background: url('../images/bg-header-mobile.svg') top left no-repeat;
		background-size: cover;
		background-color: $cyan;
	}

	.job {
		position: relative;

		&-img {
			width: 3rem; /* 48px */
			height: 3rem; /* 48px */
			position: absolute;
			top: -1.5rem; /* -24px */
			margin: 0;
		}

		&-tags {
			gap: 0.75rem; /* 12px */
		}

		&-details span {
			margin: 0 0.25rem; /* 4px */
		}

		&:not(:last-child) {
			margin-bottom: 3rem; /* 48px */
		}
	}
}

@media (max-width: 425px) {
	.filter {
		flex-direction: column;
		padding: 1.25rem 2rem; /* 20px 32px */
	}

	.filter-tags {
		margin-bottom: 1.5rem; /* 24px */
		width: 100%;

		span {
			justify-content: center;
			width: inherit;
		}

		.tag {
			width: 60%;
			justify-content: center;
		}
	}

	.filter-active {
		margin-top: 3.25rem;
	}

	.job {
		padding: 2rem; /* 32px */

		&-head {
			flex-direction: column;

			h3 {
				margin-right: 0;
				margin-bottom: 0.5rem; /* 8px */
			}
		}

		&-main {
			padding-bottom: 1rem; /* 16px */
			flex-direction: column;
			justify-content: center;
			text-align: center;
		}

		&-position {
			white-space: pre-wrap;
		}

		&-details {
			flex-direction: column;

			p {
				margin-bottom: 0.5rem; /* 8px */
			}

			p::before,
			p::after {
				content: ' ~ ';
			}

			span {
				display: none;
			}
		}
	}

	.job-tags {
		.tag {
			width: 45%;
			justify-content: center;
		}
	}
}
